<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Byebye from example.com, <%= @user.firstname %></h1>
    <p>
      You have successfully disable your account at example.com,
      your username is: <%= @user.email %>.<br>
    </p>
  </body>
</html> 
